@media screen and (max-width:786px){
button{
    display:block;
    border-radius:40px;
    width:90%;
    background-color: #000;
    color:#FFF;
    margin:auto;
    padding:8px;
    box-sizing: border-box;
    box-shadow: 0 0 6px 1px black;
}
a:link {
    list-style-type: none;
    text-decoration:none;
    color: #69696a;
}
a:visited {
    text-decoration:none;
    color:#69696a;
}
a:hover{
    text-decoration:none;
    color:#69696a;
}
a:active{
    text-decoration:none;
    color:#69696a;
}
body{
    background-color: #f9fafc;
    color:#69696a;
    font-family: 'Open Sans', sans-serif;
}
h1{ display:block;
    margin-left:5%;
    color:#000;
}
.no-bullet{
    list-style-type: none;
}
div.p{
    border: 1px solid #69696a;
    margin-left: 5%;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
li{margin:3% 0%;
}
}

